.App {
  font-family: "Nunito", Arial, sans-serif;
  color: #000;
  height: 100%;
}

.p {
  &-1 {
    padding: 1rem;
  }
  &-2 {
    padding: 2rem;
  }
  &-3 {
    padding: 3rem;
  }
  &-4 {
    padding: 4rem;
  }
  &-5 {
    padding: 5rem;
  }
}
